@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #f7f7f7f7;
}

.img {
  background: url(./assets/images/bg8.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.bg-img {
  background: url(./assets/images/bg8.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 3rem 0;
  max-width: 500px;
  padding: 16px;
  background-color: #f7f7f7f7;
  border-radius: 1rem;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.registration-form {
  font-family: "Montserrat", sans-serif;
}

.signin {
  padding: 1rem;
  text-align: center;
}

.input-error {
  color: red;
  font-size: 1rem;
}
.link {
  text-decoration: none;
  color: #ffffff;
}
.link:hover {
  color: #ffffff;
}
.btn-user {
  position: absolute;
  top: 55px;
  right: 15rem;
  z-index: 10;
}
.paginate p {
  margin-bottom: 0;
}

.icons {
  margin: 2px;
}

